
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 55px;
  background: #fff;
  border-bottom: 1px solid #e5e7eb;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 30px;

  z-index: 1000;
}

/* Left */

.topbar__left {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
}
.topbar__search-container{
  display:flex;
  align-items:center;
  gap:10px;
  padding: 0 170px;
}

.navbar__brand {
  text-decoration: none;
  color: #496e3b;

  font-size: 2rem;
  font-weight: 700;
  white-space: nowrap;
}

/* Search */

.topbar__search {
  flex: 1;
  max-width: 650px;
  min-width: 500px;

  display: flex;
  align-items: center;

  height: 36px;

  border: 1px solid #d1d5db;
  border-radius: 6px;

  padding: 0 15px;

  background: #fff;
}

.search-icon {
  margin-right: 10px;
  color: #64748b;
}

.topbar__search input {
  flex: 1;

  border: none;
  outline: none;

  background: transparent;

  font-size: 15px;
}

/* Right */

.topbar__right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.topbar__create {
  border: none;
  background: #496e3b;
  color: #fff;
  min-width: 100px;
  height: 35px;
  padding: 11px 22px;

  border-radius: 6px;

  cursor: pointer;

  font-weight: 600;
}

.topbar__icon {
  width: 25px;
  height: 25px;

  border: none;
  border-radius: 50%;

  background: #f3f4f6;

  cursor: pointer;
}

.topbar__profile {
  display: flex;
  align-items: center;
  gap: 10px;

  position: relative;

  cursor: pointer;
}

.profile-avatar {
  width: 25px;
  height: 25px;

  border-radius: 50%;

  background: #496e3b;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
}

.profile-name {
  font-weight: 600;
}

.profile-arrow {
  font-size: 12px;
}

@media (max-width: 768px) {
  .topbar {
    padding: 0 15px;
  }

  .profile-name,
  .profile-arrow {
    display: none;
  }

  .topbar__search {
    max-width: 250px;
  }
}
